
* {
    box-sizing: border-box;
}


body {
    font-family: 'Libre Baskerville', serif;
    margin: 0 auto;
    color: #2d3945;
}



header {
    color: white;
    background: #2d3945;
    text-align: center;
    padding: 20px;
    font-size: 1em;
}

h1 {
    font-weight: 100;
}




input,
textarea, 
select {
    /* display: block; */
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border-style: none;
    background: #eff0f1;
    outline: none;
    border: 2px solid white;
}

input:focus,
textarea:focus,
select:focus {
    border: 2px solid #46698b;
}

label {
    display: inline-block;
    line-height: 2.5;
    margin: 5px 0; 
    padding-left: 2px;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    padding: none;
    width: 20px;
    background: white;
}


/*------- CLASS STYLES --------*/

.wrapper {
    width: 90%;
    /* padding: 10px; */
    margin: 0 auto;
}

.container {
    /* display: flex;
    flex-direction: column; */
    font-size: .9em;
}
.header-text {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 3px;
    border-bottom: 4px solid black;
}

.contact {
    border-bottom: 3px solid black;
    border-top: 2px solid black;
    padding-bottom: 15px;
}


::placeholder {
    text-align: right;
    opacity: .75;
    font-style: italic;
    font-size: .75em;
    padding-right: 2px;
}



/*------- LEGEND FIELDSET DISABLE STYLES --------*/

legend {
    display: table;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;

    + * {
        clear: both;
    }
}

fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}